.grid {
    font-family: 'Montserrat', sans-serif;
}

.grid {
    text-align: center;
    float: left;
}

/* .grid-container {
    background-color: red;
  } */

/* *{
    background-color: red;
} */

/* .fart{
    background-color: aqua;
    color: orange;
} */