body {
    background-color: #f1f1f1;
}

.grid {
    font-family: 'Montserrat', sans-serif;
}

.grid:hover {
    background-color: red;
  }

/* .grid {
    float: center;
    width: auto;
    margin: auto;
    padding-left: 50%;
    padding-right: 50%;
} */

/* .grid-container {
    background-color: red;
  } */

/* *{
    background-color: red;
} */

/* .fart{
    background-color: aqua;
    color: orange;
} */