<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <!--<h1 id="output"></h1>-->
    <div style="width: 1000px;">
        <div id="grid" class="grid"></div>
    </div>


    <script>
        window.onload = function () {
            // var name = prompt("What's your name?");
            // var lengthOfName = name.length

            // document.getElementById('output').innerHTML = lengthOfName;

            let gridContainer = document.querySelector('.grid');

            let rowtot = 15;
            let celltot = rowtot * rowtot;

            gridContainer.style.display = 'grid';
            gridContainer.style.gridTemplateRows = `repeat(${rowtot}, 1fr)`;
            gridContainer.style.gridTemplateColumns = `repeat(${rowtot}, 1fr)`;

            var numbers = '{{ grid }}';
            // console.log(numbers)
            // var g = "test"
            console.log(numbers)
            // numbers = JSON.parse(numbers)
            let count = 0;
            let row = 1;
            let column = 1;
            for (var i = 0; i < 13; i++) {
                for (let x = 1; x <= 13; x++) {
                    let cell = document.createElement('div');
                    cell.style.border = '.1px solid black';
                    cell.style.gridRow = row;
                    cell.style.color = "blue";
                    cell.style.textAlign = "center";
                    cell.style.gridColumn = column;
                    cell.textContent = numbers[count];
                    column += 1;
                    count = count + 1;
                    if (column === 14) {
                        row += 1;
                        column = 1;
                    }
                    gridContainer.appendChild(cell);
                    // document.querySelector("div").style.color = "red"
                }
            }
        };
    </script>
    <!--<div class="fart">
        <h2>h</h2>
    </div>-->
</body>

</html>


<!-- {{ x }} -->